
/************************************************ GÉNÉRALES **************************************************/

html{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color:#6290C8;
    scroll-behavior: smooth;
}

section{
    text-align: center;
    align-items: 20px;
    border-width: 7px;
    border-style: ridge;
    border-color: #FEEFDD;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #BFD7FF;
}

h1{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 3rem;
}

h2{
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
    text-decoration: underline;
    text-align: start;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 10px;
}

h3{
    font-family: 'Pavanam', sans-serif;
}

P, a{
    font-family: 'Pavanam', sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

ul{
    list-style-type: none;
    text-align: center;
}


/************************************************ IMAGES **************************************************/

.profil-picture{
    border-radius: 20%;
    float: center;
    border-width: 5px;
    border-style: ridge;
    border-color: black;
    margin-bottom: 10px;
}

.logo-python{
    max-width: 100px;
    max-height: 100px;
}

.logo-html{
    max-width: 100px;
    max-height: 100px;
}

.logo-css{
    max-width: 100px;
    max-height: 100px;
}

.logo-bash{
    max-width: 100px;
    max-height: 100px;
}

.logo-linux{
    max-width: 100px;
    max-height: 100px;
}

.picto-mail{
    max-width: 80px;
    max-height: 80px;
}

.picto-linkedin{
    max-width: 70px;
    max-height: 70px;
}

.picto-github{
    max-width: 140px;
    max-height: 140px;
    height: 100%;
}

.map{
    max-width: 380px;
    max-height: 300px;
    border-width: 5px;
}

#border-map{
    position: relative;
    left: 250px;
    align-items: center;
    max-width: 379px;
    max-height: 299px;
    border-width: 5px;
    border-style: ridge;
    border-color: black;
}


/************************************************ NAVIGATION **************************************************/

#nav{
    margin-top: 20px;
    margin-bottom: 10px;
}

#nav a{ 
    font-weight : bold;
    margin-left: 25px;  
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

nav a:hover{
    font-size: large;
}


/************************************************ BODY **************************************************/

#profil p{
    margin-bottom: 50px;
}

#comp img{
    margin-left: 20px;  
    margin-right: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/************************************************ FOOTER **************************************************/

#contact img{
    margin-left: 15px;
    margin-right: 15px;
}

#haut{
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 75px;
    right: 90px;
  }

  #haut img{
    width: 100px;
    height: 100px;
  }